<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutoTapGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <AutoTapGUI.Properties.Settings>
            <setting name="SelectedPresetFile" serializeAs="String">
                <value>Nexus6p.ini</value>
            </setting>
            <setting name="SelectedWorkingMode" serializeAs="String">
                <value>Dominate</value>
            </setting>
            <setting name="StartMinimize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectedNextMode" serializeAs="String">
                <value>Dominate</value>
            </setting>
            <setting name="DebugLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StopTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartTimer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBattery50" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseBattery150" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseBattery300" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SelectRadarOrder" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowSleepDetail" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputLog" serializeAs="String">
                <value>False</value>
            </setting>
        </AutoTapGUI.Properties.Settings>
    </userSettings>
</configuration>